h1 {
  background-color: #00796b;
  background-position: center;.

  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  text-decoration-style: wavy;

  padding-right: 100px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 100px;
}
body {
  margin-left: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
  background-image: url(http://www.animatedimages.org/data/media/710/animated-dice-image-0103.gif);
  background-attachment: fixed;
}
