h1 {
  background-color: #a7ffeb;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  text-decoration-style: wavy;

  padding-right: 40px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 50px;
}
