h1 {
  background-color: #00796b;
  background-position: center;.

  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  text-decoration-style: wavy;

  padding-right: 40px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 50px;
}
body {
  margin-left: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
  background-image: url(https://static1.squarespace.com/static/571fcb08746fb94704c12bf3/5acfa54003ce64b9a48b2b76/5acfa55803ce64b9a48b3022/1523557722022/set-it-off-dice-gif-2.gif);
}
